<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <meta charset="UTF-8" />
    <title>Note List</title>
  </head>
  <body>
    <table>
      {% if notes %}
        {% for note in notes %}
        <tr>
          <div class="card">
            <div class="container">
              <p>From: <em>{{ note.from_who }}</em></p>
              <p>To: <em>{{ note.to }}</em></p>
              <p>Title: <strong>{{ note.title }}</strong></p>
              <p>Message: {{ note.message }}</p>
            </div>
          </div>
        </tr>
        {% endfor %}
      {% endif %}
      <!-- EXAMPLE SECTION -->
      <tr>
        <div class="card">
          <div class="container">
            <p>From: <em>Ani</em></p>
            <p>To: <em>Rhoma</em></p>
            <p>Title: <strong>Cukup</strong></p>
            <p>Message: Cukup Rhoma!!! Cukup!!!</p>
          </div>
        </div>
      </tr>
      <!-- END SECTION -->
    </table>
  </body>
</html>


