<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr> 
      {% if notes %}
        {% for note in notes %}
          <tr>
            <td>{{ note.to }}</td>
            <td>{{ note.from_who }}</td>
            <td>{{ note.title }}</td>
            <td>{{ note.message }}</td>
          </tr>
        {% endfor %}
      {% endif %}
      <!-- EXAMPLE SECTION -->
      <tr>
        <td>Rhoma</td>
        <td>Ani</td>
        <td>Cukup</td>
        <td>Cukup Rhoma!!! Cukup!!!</td>
      </tr>
      <!-- END SECTION -->
    </table>
  </body>
</html>
